[Unit]
Description={{ cookiecutter.systemd_service_description }}

[Service]
Type=dbus
BusName={{ cookiecutter.dbus_bus_name }}
ExecStart=/usr/bin/{{ cookiecutter.service_executable }}

[Install]
WantedBy=xorg.target
