#!/usr/bin/make -f
# `man 7 debhelper` for more details on this file and available env variables

# output every command that modifies files on the build system.
export DH_VERBOSE = 1

export PYBUILD_TEST_PYTEST=1
export PYBUILD_TEST_ARGS_python3=--cache-clear --junit-xml=${CURDIR}/unittest.xml tests/unit

%:
	dh $@ --with systemd --with python3 --buildsystem=pybuild

